.Rproj.user
.Rhistory
.RData
.Ruserdata
Legacy_data/0.Format_data_DR.R
Legacy_data/Camp_data_for_revision.csv
Legacy_data/Camp_data_for_revision_Boundaries_added.csv
Legacy_data/Camp_data_for_revision_V2.csv
Legacy_data/Example_Final_output_ready_for_Unmarked.csv
Legacy_data/Lewis_Occupancy_data/Data/Climate_Data/Camp_Precip.asc
Legacy_data/Lewis_Occupancy_data/Data/Climate_Data/Camp_Temp.asc
Legacy_data/Lewis_Occupancy_data/Data/Climate_Data/Maas_Precip.asc
Legacy_data/Lewis_Occupancy_data/Data/Climate_Data/Maas_Temp.asc
Legacy_data/Lewis_Occupancy_data/Data/Climate_Data/tdihba.pdclann.nc
Legacy_data/Lewis_Occupancy_data/Data/Climate_Data/tdpwca.pdclann.nc
Legacy_data/Lewis_Occupancy_data/Data/Data Files for Occupancy Modelling.docx
Legacy_data/Lewis_Occupancy_data/Data/Elevation_GRID/.prj
Legacy_data/Lewis_Occupancy_data/Data/Elevation_GRID/elevationEnglish_2009.doc
Legacy_data/Lewis_Occupancy_data/Data/Elevation_GRID/na_elevation.asc
Legacy_data/Lewis_Occupancy_data/Data/Elevation_GRID/NA_Elevation.prj
Legacy_data/Lewis_Occupancy_data/Data/Elevation_GRID/NA_Elevation/data/NA_Elevation/info/arc.dir
Legacy_data/Lewis_Occupancy_data/Data/Elevation_GRID/NA_Elevation/data/NA_Elevation/info/arc0000.dat
Legacy_data/Lewis_Occupancy_data/Data/Elevation_GRID/NA_Elevation/data/NA_Elevation/info/arc0000.nit
Legacy_data/Lewis_Occupancy_data/Data/Elevation_GRID/NA_Elevation/data/NA_Elevation/info/arc0001.dat
Legacy_data/Lewis_Occupancy_data/Data/Elevation_GRID/NA_Elevation/data/NA_Elevation/info/arc0001.nit
Legacy_data/Lewis_Occupancy_data/Data/Elevation_GRID/NA_Elevation/data/NA_Elevation/info/arc0002.dat
Legacy_data/Lewis_Occupancy_data/Data/Elevation_GRID/NA_Elevation/data/NA_Elevation/info/arc0002.nit
Legacy_data/Lewis_Occupancy_data/Data/Elevation_GRID/NA_Elevation/data/NA_Elevation/info/arc0002r.001
Legacy_data/Lewis_Occupancy_data/Data/Elevation_GRID/NA_Elevation/data/NA_Elevation/NA_Elevation.aux
Legacy_data/Lewis_Occupancy_data/Data/Elevation_GRID/NA_Elevation/data/NA_Elevation/NA_Elevation.aux.xml
Legacy_data/Lewis_Occupancy_data/Data/Elevation_GRID/NA_Elevation/data/NA_Elevation/NA_Elevation.rrd
Legacy_data/Lewis_Occupancy_data/Data/Elevation_GRID/NA_Elevation/data/NA_Elevation/na_elevation/dblbnd.adf
Legacy_data/Lewis_Occupancy_data/Data/Elevation_GRID/NA_Elevation/data/NA_Elevation/na_elevation/hdr.adf
Legacy_data/Lewis_Occupancy_data/Data/Elevation_GRID/NA_Elevation/data/NA_Elevation/na_elevation/log
Legacy_data/Lewis_Occupancy_data/Data/Elevation_GRID/NA_Elevation/data/NA_Elevation/na_elevation/metadata.xml
Legacy_data/Lewis_Occupancy_data/Data/Elevation_GRID/NA_Elevation/data/NA_Elevation/na_elevation/prj.adf
Legacy_data/Lewis_Occupancy_data/Data/Elevation_GRID/NA_Elevation/data/NA_Elevation/na_elevation/sta.adf
Legacy_data/Lewis_Occupancy_data/Data/Elevation_GRID/NA_Elevation/data/NA_Elevation/na_elevation/vat.adf
Legacy_data/Lewis_Occupancy_data/Data/Elevation_GRID/NA_Elevation/data/NA_Elevation/na_elevation/w001001.adf
Legacy_data/Lewis_Occupancy_data/Data/Elevation_GRID/NA_Elevation/data/NA_Elevation/na_elevation/w001001x.adf
Legacy_data/Lewis_Occupancy_data/Data/Elevation_GRID/NA_Elevation/NA_Elevation.lyr
Legacy_data/Lewis_Occupancy_data/Data/Elevation_GRID/na_elevation01.asc
Legacy_data/Lewis_Occupancy_data/Data/Elevation_GRID/na_elevation01.prj
Legacy_data/Lewis_Occupancy_data/Data/Elevation_GRID/Terms of use.doc
Legacy_data/Lewis_Occupancy_data/Data/Format_data.R
Legacy_data/Lewis_Occupancy_data/Data/Formatted/All_data/0.1deg/air.mon.ltm.v301_0.1.asc
Legacy_data/Lewis_Occupancy_data/Data/Formatted/All_data/0.1deg/air.mon.ltm.v401_0.1.asc
Legacy_data/Lewis_Occupancy_data/Data/Formatted/All_data/0.1deg/air.mon.ltm.v501_0.1.asc
Legacy_data/Lewis_Occupancy_data/Data/Formatted/All_data/0.1deg/air.mon.mean.v301_0.1.asc
Legacy_data/Lewis_Occupancy_data/Data/Formatted/All_data/0.1deg/air.mon.mean.v401_0.1.asc
Legacy_data/Lewis_Occupancy_data/Data/Formatted/All_data/0.1deg/air.mon.mean.v501_0.1.asc
Legacy_data/Lewis_Occupancy_data/Data/Formatted/All_data/0.1deg/Camp_out_0.1.asc
Legacy_data/Lewis_Occupancy_data/Data/Formatted/All_data/0.1deg/DEM_0.1.asc
Legacy_data/Lewis_Occupancy_data/Data/Formatted/All_data/0.1deg/GLC_0.1.asc
Legacy_data/Lewis_Occupancy_data/Data/Formatted/All_data/0.1deg/LANDCVI_0.1.asc
Legacy_data/Lewis_Occupancy_data/Data/Formatted/All_data/0.1deg/Maas_out_0.1.asc
Legacy_data/Lewis_Occupancy_data/Data/Formatted/All_data/0.1deg/MGVF_0.1.asc
Legacy_data/Lewis_Occupancy_data/Data/Formatted/All_data/0.1deg/precip.mon.ltm.v301_0.1.asc
Legacy_data/Lewis_Occupancy_data/Data/Formatted/All_data/0.1deg/precip.mon.ltm.v401_0.1.asc
Legacy_data/Lewis_Occupancy_data/Data/Formatted/All_data/0.1deg/precip.mon.ltm.v501_0.1.asc
Legacy_data/Lewis_Occupancy_data/Data/Formatted/All_data/0.1deg/precip.mon.total.v301_0.1.asc
Legacy_data/Lewis_Occupancy_data/Data/Formatted/All_data/0.1deg/precip.mon.total.v401_0.1.asc
Legacy_data/Lewis_Occupancy_data/Data/Formatted/All_data/0.1deg/precip.mon.total.v501_0.1.asc
Legacy_data/Lewis_Occupancy_data/Data/Formatted/All_data/0.1deg/WC_Prec_0.1.asc
Legacy_data/Lewis_Occupancy_data/Data/Formatted/All_data/0.1deg/WC_Temp_0.1.asc
Legacy_data/Lewis_Occupancy_data/Data/Formatted/All_data/0.1deg/WC_Wind_0.1.asc
Legacy_data/Lewis_Occupancy_data/Data/Formatted/All_data/0.5deg/air.mon.ltm.v301_0.5.asc
Legacy_data/Lewis_Occupancy_data/Data/Formatted/All_data/0.5deg/air.mon.ltm.v401_0.5.asc
Legacy_data/Lewis_Occupancy_data/Data/Formatted/All_data/0.5deg/air.mon.ltm.v501_0.5.asc
Legacy_data/Lewis_Occupancy_data/Data/Formatted/All_data/0.5deg/air.mon.mean.v301_0.5.asc
Legacy_data/Lewis_Occupancy_data/Data/Formatted/All_data/0.5deg/air.mon.mean.v401_0.5.asc
Legacy_data/Lewis_Occupancy_data/Data/Formatted/All_data/0.5deg/air.mon.mean.v501_0.5.asc
Legacy_data/Lewis_Occupancy_data/Data/Formatted/All_data/0.5deg/Camp_out_0.5.asc
Legacy_data/Lewis_Occupancy_data/Data/Formatted/All_data/0.5deg/DEM_0.5.asc
Legacy_data/Lewis_Occupancy_data/Data/Formatted/All_data/0.5deg/GLC_0.5.asc
Legacy_data/Lewis_Occupancy_data/Data/Formatted/All_data/0.5deg/LANDCVI_0.5.asc
Legacy_data/Lewis_Occupancy_data/Data/Formatted/All_data/0.5deg/LANDCVI_selected_0.5.asc
Legacy_data/Lewis_Occupancy_data/Data/Formatted/All_data/0.5deg/Maas_out_0.5.asc
Legacy_data/Lewis_Occupancy_data/Data/Formatted/All_data/0.5deg/MGVF_0.5.asc
Legacy_data/Lewis_Occupancy_data/Data/Formatted/All_data/0.5deg/precip.mon.ltm.v301_0.5.asc
Legacy_data/Lewis_Occupancy_data/Data/Formatted/All_data/0.5deg/precip.mon.ltm.v401_0.5.asc
Legacy_data/Lewis_Occupancy_data/Data/Formatted/All_data/0.5deg/precip.mon.ltm.v501_0.5.asc
Legacy_data/Lewis_Occupancy_data/Data/Formatted/All_data/0.5deg/precip.mon.total.v301_0.5.asc
Legacy_data/Lewis_Occupancy_data/Data/Formatted/All_data/0.5deg/precip.mon.total.v401_0.5.asc
Legacy_data/Lewis_Occupancy_data/Data/Formatted/All_data/0.5deg/precip.mon.total.v501_0.5.asc
Legacy_data/Lewis_Occupancy_data/Data/Formatted/All_data/0.5deg/SLOPE_0.5.asc
Legacy_data/Lewis_Occupancy_data/Data/Formatted/All_data/0.5deg/WC_Prec_0.5.asc
Legacy_data/Lewis_Occupancy_data/Data/Formatted/All_data/0.5deg/WC_Temp_0.5.asc
Legacy_data/Lewis_Occupancy_data/Data/Formatted/All_data/0.5deg/WC_Wind_0.5.asc
Legacy_data/Lewis_Occupancy_data/Data/Formatted/All_data/1deg/air.mon.ltm.v301_1.asc
Legacy_data/Lewis_Occupancy_data/Data/Formatted/All_data/1deg/air.mon.ltm.v401_1.asc
Legacy_data/Lewis_Occupancy_data/Data/Formatted/All_data/1deg/air.mon.ltm.v501_1.asc
Legacy_data/Lewis_Occupancy_data/Data/Formatted/All_data/1deg/air.mon.mean.v301_1.asc
Legacy_data/Lewis_Occupancy_data/Data/Formatted/All_data/1deg/air.mon.mean.v401_1.asc
Legacy_data/Lewis_Occupancy_data/Data/Formatted/All_data/1deg/air.mon.mean.v501_1.asc
Legacy_data/Lewis_Occupancy_data/Data/Formatted/All_data/1deg/Camp_out_1.asc
Legacy_data/Lewis_Occupancy_data/Data/Formatted/All_data/1deg/DEM_1.asc
Legacy_data/Lewis_Occupancy_data/Data/Formatted/All_data/1deg/GLC_1.asc
Legacy_data/Lewis_Occupancy_data/Data/Formatted/All_data/1deg/LANDCVI_selected_1.asc
Legacy_data/Lewis_Occupancy_data/Data/Formatted/All_data/1deg/Maas_out_1.asc
Legacy_data/Lewis_Occupancy_data/Data/Formatted/All_data/1deg/MGVF_1.asc
Legacy_data/Lewis_Occupancy_data/Data/Formatted/All_data/1deg/Past_data/CampPrecip_1.asc
Legacy_data/Lewis_Occupancy_data/Data/Formatted/All_data/1deg/Past_data/CampTemp_1.asc
Legacy_data/Lewis_Occupancy_data/Data/Formatted/All_data/1deg/Past_data/MaasPrecip_1.asc
Legacy_data/Lewis_Occupancy_data/Data/Formatted/All_data/1deg/Past_data/MaasTemp_1.asc
Legacy_data/Lewis_Occupancy_data/Data/Formatted/All_data/1deg/precip.mon.ltm.v301_1.asc
Legacy_data/Lewis_Occupancy_data/Data/Formatted/All_data/1deg/precip.mon.ltm.v401_1.asc
Legacy_data/Lewis_Occupancy_data/Data/Formatted/All_data/1deg/precip.mon.ltm.v501_1.asc
Legacy_data/Lewis_Occupancy_data/Data/Formatted/All_data/1deg/precip.mon.total.v301_1.asc
Legacy_data/Lewis_Occupancy_data/Data/Formatted/All_data/1deg/precip.mon.total.v401_1.asc
Legacy_data/Lewis_Occupancy_data/Data/Formatted/All_data/1deg/precip.mon.total.v501_1.asc
Legacy_data/Lewis_Occupancy_data/Data/Formatted/All_data/1deg/SLOPE_1.asc
Legacy_data/Lewis_Occupancy_data/Data/Formatted/All_data/1deg/WC_Prec_1.asc
Legacy_data/Lewis_Occupancy_data/Data/Formatted/All_data/1deg/WC_Temp_1.asc
Legacy_data/Lewis_Occupancy_data/Data/Formatted/All_data/1deg/WC_Wind_1.asc
Legacy_data/Lewis_Occupancy_data/Data/Formatted/Elevation_GRID/DEM_0.1.asc
Legacy_data/Lewis_Occupancy_data/Data/Formatted/Elevation_GRID/DEM_0.5.asc
Legacy_data/Lewis_Occupancy_data/Data/Formatted/Elevation_GRID/DEM_1.asc
Legacy_data/Lewis_Occupancy_data/Data/Formatted/Elevation_GRID/SLOPE_0.5.asc
Legacy_data/Lewis_Occupancy_data/Data/Formatted/Elevation_GRID/SLOPE_1.asc
Legacy_data/Lewis_Occupancy_data/Data/Formatted/landcvi0201/LANDCVI_0.1.asc
Legacy_data/Lewis_Occupancy_data/Data/Formatted/landcvi0201/LANDCVI_0.5.asc
Legacy_data/Lewis_Occupancy_data/Data/Formatted/landcvi0201/LANDCVI_1.asc
Legacy_data/Lewis_Occupancy_data/Data/Formatted/landcvi0201/LANDCVI_selected_0.5.asc
Legacy_data/Lewis_Occupancy_data/Data/Formatted/landcvi0201/LANDCVI_selected_1.asc
Legacy_data/Lewis_Occupancy_data/Data/Formatted/MGVF/MGVF_0.1.asc
Legacy_data/Lewis_Occupancy_data/Data/Formatted/MGVF/MGVF_0.5.asc
Legacy_data/Lewis_Occupancy_data/Data/Formatted/MGVF/MGVF_1.asc
Legacy_data/Lewis_Occupancy_data/Data/Formatted/MODIS_GLC/GLC_0.1.asc
Legacy_data/Lewis_Occupancy_data/Data/Formatted/MODIS_GLC/GLC_0.5.asc
Legacy_data/Lewis_Occupancy_data/Data/Formatted/MODIS_GLC/GLC_1.asc
Legacy_data/Lewis_Occupancy_data/Data/Formatted/Outcrop/Camp_out_0.1.asc
Legacy_data/Lewis_Occupancy_data/Data/Formatted/Outcrop/Camp_out_0.5.asc
Legacy_data/Lewis_Occupancy_data/Data/Formatted/Outcrop/Camp_out_1.asc
Legacy_data/Lewis_Occupancy_data/Data/Formatted/Outcrop/Maas_out_0.1.asc
Legacy_data/Lewis_Occupancy_data/Data/Formatted/Outcrop/Maas_out_0.5.asc
Legacy_data/Lewis_Occupancy_data/Data/Formatted/Outcrop/Maas_out_1.asc
Legacy_data/Lewis_Occupancy_data/Data/Formatted/PalaeoClimate/CampPrecip.asc
Legacy_data/Lewis_Occupancy_data/Data/Formatted/PalaeoClimate/CampPrecip_1.asc
Legacy_data/Lewis_Occupancy_data/Data/Formatted/PalaeoClimate/CampTemp.asc
Legacy_data/Lewis_Occupancy_data/Data/Formatted/PalaeoClimate/CampTemp_1.asc
Legacy_data/Lewis_Occupancy_data/Data/Formatted/PalaeoClimate/MaasPrecip.asc
Legacy_data/Lewis_Occupancy_data/Data/Formatted/PalaeoClimate/MaasPrecip_1.asc
Legacy_data/Lewis_Occupancy_data/Data/Formatted/PalaeoClimate/MaasTemp.asc
Legacy_data/Lewis_Occupancy_data/Data/Formatted/PalaeoClimate/MaasTemp_1.asc
Legacy_data/Lewis_Occupancy_data/Data/Formatted/UoD_GHCN2/air.mon.ltm.v301_0.1.asc
Legacy_data/Lewis_Occupancy_data/Data/Formatted/UoD_GHCN2/air.mon.ltm.v301_0.5.asc
Legacy_data/Lewis_Occupancy_data/Data/Formatted/UoD_GHCN2/air.mon.ltm.v301_1.asc
Legacy_data/Lewis_Occupancy_data/Data/Formatted/UoD_GHCN2/air.mon.ltm.v401_0.1.asc
Legacy_data/Lewis_Occupancy_data/Data/Formatted/UoD_GHCN2/air.mon.ltm.v401_0.5.asc
Legacy_data/Lewis_Occupancy_data/Data/Formatted/UoD_GHCN2/air.mon.ltm.v401_1.asc
Legacy_data/Lewis_Occupancy_data/Data/Formatted/UoD_GHCN2/air.mon.ltm.v501_0.1.asc
Legacy_data/Lewis_Occupancy_data/Data/Formatted/UoD_GHCN2/air.mon.ltm.v501_0.5.asc
Legacy_data/Lewis_Occupancy_data/Data/Formatted/UoD_GHCN2/air.mon.ltm.v501_1.asc
Legacy_data/Lewis_Occupancy_data/Data/Formatted/UoD_GHCN2/air.mon.mean.v301_0.1.asc
Legacy_data/Lewis_Occupancy_data/Data/Formatted/UoD_GHCN2/air.mon.mean.v301_0.5.asc
Legacy_data/Lewis_Occupancy_data/Data/Formatted/UoD_GHCN2/air.mon.mean.v301_1.asc
Legacy_data/Lewis_Occupancy_data/Data/Formatted/UoD_GHCN2/air.mon.mean.v401_0.1.asc
Legacy_data/Lewis_Occupancy_data/Data/Formatted/UoD_GHCN2/air.mon.mean.v401_0.5.asc
Legacy_data/Lewis_Occupancy_data/Data/Formatted/UoD_GHCN2/air.mon.mean.v401_1.asc
Legacy_data/Lewis_Occupancy_data/Data/Formatted/UoD_GHCN2/air.mon.mean.v501_0.1.asc
Legacy_data/Lewis_Occupancy_data/Data/Formatted/UoD_GHCN2/air.mon.mean.v501_0.5.asc
Legacy_data/Lewis_Occupancy_data/Data/Formatted/UoD_GHCN2/air.mon.mean.v501_1.asc
Legacy_data/Lewis_Occupancy_data/Data/Formatted/UoD_GHCN2/precip.mon.ltm.v301_0.1.asc
Legacy_data/Lewis_Occupancy_data/Data/Formatted/UoD_GHCN2/precip.mon.ltm.v301_0.5.asc
Legacy_data/Lewis_Occupancy_data/Data/Formatted/UoD_GHCN2/precip.mon.ltm.v301_1.asc
Legacy_data/Lewis_Occupancy_data/Data/Formatted/UoD_GHCN2/precip.mon.ltm.v401_0.1.asc
Legacy_data/Lewis_Occupancy_data/Data/Formatted/UoD_GHCN2/precip.mon.ltm.v401_0.5.asc
Legacy_data/Lewis_Occupancy_data/Data/Formatted/UoD_GHCN2/precip.mon.ltm.v401_1.asc
Legacy_data/Lewis_Occupancy_data/Data/Formatted/UoD_GHCN2/precip.mon.ltm.v501_0.1.asc
Legacy_data/Lewis_Occupancy_data/Data/Formatted/UoD_GHCN2/precip.mon.ltm.v501_0.5.asc
Legacy_data/Lewis_Occupancy_data/Data/Formatted/UoD_GHCN2/precip.mon.ltm.v501_1.asc
Legacy_data/Lewis_Occupancy_data/Data/Formatted/UoD_GHCN2/precip.mon.total.v301_0.1.asc
Legacy_data/Lewis_Occupancy_data/Data/Formatted/UoD_GHCN2/precip.mon.total.v301_0.5.asc
Legacy_data/Lewis_Occupancy_data/Data/Formatted/UoD_GHCN2/precip.mon.total.v301_1.asc
Legacy_data/Lewis_Occupancy_data/Data/Formatted/UoD_GHCN2/precip.mon.total.v401_0.1.asc
Legacy_data/Lewis_Occupancy_data/Data/Formatted/UoD_GHCN2/precip.mon.total.v401_0.5.asc
Legacy_data/Lewis_Occupancy_data/Data/Formatted/UoD_GHCN2/precip.mon.total.v401_1.asc
Legacy_data/Lewis_Occupancy_data/Data/Formatted/UoD_GHCN2/precip.mon.total.v501_0.1.asc
Legacy_data/Lewis_Occupancy_data/Data/Formatted/UoD_GHCN2/precip.mon.total.v501_0.5.asc
Legacy_data/Lewis_Occupancy_data/Data/Formatted/UoD_GHCN2/precip.mon.total.v501_1.asc
Legacy_data/Lewis_Occupancy_data/Data/Formatted/Worldclim/WC_Prec_0.1.asc
Legacy_data/Lewis_Occupancy_data/Data/Formatted/Worldclim/WC_Prec_0.5.asc
Legacy_data/Lewis_Occupancy_data/Data/Formatted/Worldclim/WC_Prec_1.asc
Legacy_data/Lewis_Occupancy_data/Data/Formatted/Worldclim/WC_Temp_0.1.asc
Legacy_data/Lewis_Occupancy_data/Data/Formatted/Worldclim/WC_Temp_0.5.asc
Legacy_data/Lewis_Occupancy_data/Data/Formatted/Worldclim/WC_Temp_1.asc
Legacy_data/Lewis_Occupancy_data/Data/Formatted/Worldclim/WC_Wind_0.1.asc
Legacy_data/Lewis_Occupancy_data/Data/Formatted/Worldclim/WC_Wind_0.5.asc
Legacy_data/Lewis_Occupancy_data/Data/Formatted/Worldclim/WC_Wind_1.asc
Legacy_data/Lewis_Occupancy_data/Data/landcvi0201/landcvi0201.tif
Legacy_data/Lewis_Occupancy_data/Data/landcvi0201/landcvi020l.txt
Legacy_data/Lewis_Occupancy_data/Data/landcvi0201/landcvi020l_nt00016.tar.gz
Legacy_data/Lewis_Occupancy_data/Data/landcvi0201/LANDCVI_test1.asc
Legacy_data/Lewis_Occupancy_data/Data/MGVF/Average MGVF.tif
Legacy_data/Lewis_Occupancy_data/Data/MODIS_GLC/GlobalLandCover_tif.zip
Legacy_data/Lewis_Occupancy_data/Data/MODIS_GLC/GlobalLandCover_tif/LCType.tif
Legacy_data/Lewis_Occupancy_data/Data/MODIS_GLC/Legend.txt
Legacy_data/Lewis_Occupancy_data/Data/Outcrop/Campanian/Campanian.cpg
Legacy_data/Lewis_Occupancy_data/Data/Outcrop/Campanian/Campanian.dbf
Legacy_data/Lewis_Occupancy_data/Data/Outcrop/Campanian/Campanian.png
Legacy_data/Lewis_Occupancy_data/Data/Outcrop/Campanian/Campanian.prj
Legacy_data/Lewis_Occupancy_data/Data/Outcrop/Campanian/Campanian.sbn
Legacy_data/Lewis_Occupancy_data/Data/Outcrop/Campanian/Campanian.sbx
Legacy_data/Lewis_Occupancy_data/Data/Outcrop/Campanian/Campanian.shp
Legacy_data/Lewis_Occupancy_data/Data/Outcrop/Campanian/Campanian.shp.xml
Legacy_data/Lewis_Occupancy_data/Data/Outcrop/Campanian/Campanian.shx
Legacy_data/Lewis_Occupancy_data/Data/Outcrop/Complete.cpg
Legacy_data/Lewis_Occupancy_data/Data/Outcrop/Complete.dbf
Legacy_data/Lewis_Occupancy_data/Data/Outcrop/Complete.prj
Legacy_data/Lewis_Occupancy_data/Data/Outcrop/Complete.sbn
Legacy_data/Lewis_Occupancy_data/Data/Outcrop/Complete.sbx
Legacy_data/Lewis_Occupancy_data/Data/Outcrop/Complete.shp
Legacy_data/Lewis_Occupancy_data/Data/Outcrop/Complete.shp.xml
Legacy_data/Lewis_Occupancy_data/Data/Outcrop/Complete.shx
Legacy_data/Lewis_Occupancy_data/Data/Outcrop/Maastrichtian/Maastrichtian.cpg
Legacy_data/Lewis_Occupancy_data/Data/Outcrop/Maastrichtian/Maastrichtian.dbf
Legacy_data/Lewis_Occupancy_data/Data/Outcrop/Maastrichtian/Maastrichtian.png
Legacy_data/Lewis_Occupancy_data/Data/Outcrop/Maastrichtian/Maastrichtian.prj
Legacy_data/Lewis_Occupancy_data/Data/Outcrop/Maastrichtian/Maastrichtian.sbn
Legacy_data/Lewis_Occupancy_data/Data/Outcrop/Maastrichtian/Maastrichtian.sbx
Legacy_data/Lewis_Occupancy_data/Data/Outcrop/Maastrichtian/Maastrichtian.shp
Legacy_data/Lewis_Occupancy_data/Data/Outcrop/Maastrichtian/Maastrichtian.shp.xml
Legacy_data/Lewis_Occupancy_data/Data/Outcrop/Maastrichtian/Maastrichtian.shx
Legacy_data/Lewis_Occupancy_data/Data/READ ME.txt
Legacy_data/Lewis_Occupancy_data/Data/UoD_GHCN2/air.mon.ltm.v301.nc
Legacy_data/Lewis_Occupancy_data/Data/UoD_GHCN2/air.mon.ltm.v401.nc
Legacy_data/Lewis_Occupancy_data/Data/UoD_GHCN2/air.mon.ltm.v501.nc
Legacy_data/Lewis_Occupancy_data/Data/UoD_GHCN2/air.mon.mean.v301.nc
Legacy_data/Lewis_Occupancy_data/Data/UoD_GHCN2/air.mon.mean.v401.nc
Legacy_data/Lewis_Occupancy_data/Data/UoD_GHCN2/air.mon.mean.v501.nc
Legacy_data/Lewis_Occupancy_data/Data/UoD_GHCN2/precip.mon.ltm.v301.nc
Legacy_data/Lewis_Occupancy_data/Data/UoD_GHCN2/precip.mon.ltm.v401.nc
Legacy_data/Lewis_Occupancy_data/Data/UoD_GHCN2/precip.mon.ltm.v501.nc
Legacy_data/Lewis_Occupancy_data/Data/UoD_GHCN2/precip.mon.total.v301.nc
Legacy_data/Lewis_Occupancy_data/Data/UoD_GHCN2/precip.mon.total.v401.nc
Legacy_data/Lewis_Occupancy_data/Data/UoD_GHCN2/precip.mon.total.v501.nc
Legacy_data/Lewis_Occupancy_data/Data/Worldclim/wc2.0_30s_prec/wc2.0_30s_prec_01.tif
Legacy_data/Lewis_Occupancy_data/Data/Worldclim/wc2.0_30s_prec/wc2.0_30s_prec_02.tif
Legacy_data/Lewis_Occupancy_data/Data/Worldclim/wc2.0_30s_prec/wc2.0_30s_prec_03.tif
Legacy_data/Lewis_Occupancy_data/Data/Worldclim/wc2.0_30s_prec/wc2.0_30s_prec_04.tif
Legacy_data/Lewis_Occupancy_data/Data/Worldclim/wc2.0_30s_prec/wc2.0_30s_prec_05.tif
Legacy_data/Lewis_Occupancy_data/Data/Worldclim/wc2.0_30s_prec/wc2.0_30s_prec_06.tif
Legacy_data/Lewis_Occupancy_data/Data/Worldclim/wc2.0_30s_prec/wc2.0_30s_prec_07.tif
Legacy_data/Lewis_Occupancy_data/Data/Worldclim/wc2.0_30s_prec/wc2.0_30s_prec_08.tif
Legacy_data/Lewis_Occupancy_data/Data/Worldclim/wc2.0_30s_prec/wc2.0_30s_prec_09.tif
Legacy_data/Lewis_Occupancy_data/Data/Worldclim/wc2.0_30s_prec/wc2.0_30s_prec_10.tif
Legacy_data/Lewis_Occupancy_data/Data/Worldclim/wc2.0_30s_prec/wc2.0_30s_prec_11.tif
Legacy_data/Lewis_Occupancy_data/Data/Worldclim/wc2.0_30s_prec/wc2.0_30s_prec_12.tif
Legacy_data/Lewis_Occupancy_data/Data/Worldclim/wc2.0_30s_tavg/wc2.0_30s_tavg_01.tif
Legacy_data/Lewis_Occupancy_data/Data/Worldclim/wc2.0_30s_tavg/wc2.0_30s_tavg_02.tif
Legacy_data/Lewis_Occupancy_data/Data/Worldclim/wc2.0_30s_tavg/wc2.0_30s_tavg_03.tif
Legacy_data/Lewis_Occupancy_data/Data/Worldclim/wc2.0_30s_tavg/wc2.0_30s_tavg_04.tif
Legacy_data/Lewis_Occupancy_data/Data/Worldclim/wc2.0_30s_tavg/wc2.0_30s_tavg_05.tif
Legacy_data/Lewis_Occupancy_data/Data/Worldclim/wc2.0_30s_tavg/wc2.0_30s_tavg_06.tif
Legacy_data/Lewis_Occupancy_data/Data/Worldclim/wc2.0_30s_tavg/wc2.0_30s_tavg_07.tif
Legacy_data/Lewis_Occupancy_data/Data/Worldclim/wc2.0_30s_tavg/wc2.0_30s_tavg_08.tif
Legacy_data/Lewis_Occupancy_data/Data/Worldclim/wc2.0_30s_tavg/wc2.0_30s_tavg_09.tif
Legacy_data/Lewis_Occupancy_data/Data/Worldclim/wc2.0_30s_tavg/wc2.0_30s_tavg_10.tif
Legacy_data/Lewis_Occupancy_data/Data/Worldclim/wc2.0_30s_tavg/wc2.0_30s_tavg_11.tif
Legacy_data/Lewis_Occupancy_data/Data/Worldclim/wc2.0_30s_tavg/wc2.0_30s_tavg_12.tif
Legacy_data/Lewis_Occupancy_data/Data/Worldclim/wc2.0_30s_wind/wc2.0_30s_wind_01.tif
Legacy_data/Lewis_Occupancy_data/Data/Worldclim/wc2.0_30s_wind/wc2.0_30s_wind_02.tif
Legacy_data/Lewis_Occupancy_data/Data/Worldclim/wc2.0_30s_wind/wc2.0_30s_wind_03.tif
Legacy_data/Lewis_Occupancy_data/Data/Worldclim/wc2.0_30s_wind/wc2.0_30s_wind_04.tif
Legacy_data/Lewis_Occupancy_data/Data/Worldclim/wc2.0_30s_wind/wc2.0_30s_wind_05.tif
Legacy_data/Lewis_Occupancy_data/Data/Worldclim/wc2.0_30s_wind/wc2.0_30s_wind_06.tif
Legacy_data/Lewis_Occupancy_data/Data/Worldclim/wc2.0_30s_wind/wc2.0_30s_wind_07.tif
Legacy_data/Lewis_Occupancy_data/Data/Worldclim/wc2.0_30s_wind/wc2.0_30s_wind_08.tif
Legacy_data/Lewis_Occupancy_data/Data/Worldclim/wc2.0_30s_wind/wc2.0_30s_wind_09.tif
Legacy_data/Lewis_Occupancy_data/Data/Worldclim/wc2.0_30s_wind/wc2.0_30s_wind_10.tif
Legacy_data/Lewis_Occupancy_data/Data/Worldclim/wc2.0_30s_wind/wc2.0_30s_wind_11.tif
Legacy_data/Lewis_Occupancy_data/Data/Worldclim/wc2.0_30s_wind/wc2.0_30s_wind_12.tif
Legacy_data/Maas_data_for_revision.csv
Legacy_data/Maas_data_for_revision_V2.csv
Legacy_data/Master_Spreadsheet.csv
Data/Climate_Data/Camp_Precip.asc
Data/Climate_Data/Camp_Temp.asc
Data/Climate_Data/Maas_Precip.asc
Data/Climate_Data/Maas_Temp.asc
Data/Climate_Data/tdihba.pdclann.nc
Data/Climate_Data/tdpwca.pdclann.nc
Data/Covariate_Data/Climate_Data/Camp_Precip.asc
Data/Covariate_Data/Climate_Data/Camp_Temp.asc
Data/Covariate_Data/Climate_Data/Maas_Precip.asc
Data/Covariate_Data/Climate_Data/Maas_Temp.asc
Data/Covariate_Data/Climate_Data/tdihba.pdclann.nc
Data/Covariate_Data/Climate_Data/tdpwca.pdclann.nc
Data/Climate_Data/Camp_Precip.asc
Data/Climate_Data/Camp_Temp.asc
Data/Climate_Data/Maas_Precip.asc
Data/Climate_Data/Maas_Temp.asc
Data/Climate_Data/tdihba.pdclann.nc
Data/Climate_Data/tdpwca.pdclann.nc
Data/Climate_Data/Camp_Precip.asc
Data/Climate_Data/Camp_Temp.asc
Data/Climate_Data/Maas_Precip.asc
Data/Climate_Data/Maas_Temp.asc
Data/Climate_Data/tdihba.pdclann.nc
Data/Climate_Data/tdpwca.pdclann.nc
Data/Covariate_Data/Elevation_GRID/.prj
Data/Covariate_Data/Elevation_GRID/elevationEnglish_2009.doc
Data/Covariate_Data/Elevation_GRID/na_elevation.asc
Data/Covariate_Data/Elevation_GRID/NA_Elevation.prj
Data/Covariate_Data/Elevation_GRID/NA_Elevation/data/NA_Elevation/info/arc.dir
Data/Covariate_Data/Elevation_GRID/NA_Elevation/data/NA_Elevation/info/arc0000.dat
Data/Covariate_Data/Elevation_GRID/NA_Elevation/data/NA_Elevation/info/arc0000.nit
Data/Covariate_Data/Elevation_GRID/NA_Elevation/data/NA_Elevation/info/arc0001.dat
Data/Covariate_Data/Elevation_GRID/NA_Elevation/data/NA_Elevation/info/arc0001.nit
Data/Covariate_Data/Elevation_GRID/NA_Elevation/data/NA_Elevation/info/arc0002.dat
Data/Covariate_Data/Elevation_GRID/NA_Elevation/data/NA_Elevation/info/arc0002.nit
Data/Covariate_Data/Elevation_GRID/NA_Elevation/data/NA_Elevation/info/arc0002r.001
Data/Covariate_Data/Elevation_GRID/NA_Elevation/data/NA_Elevation/NA_Elevation.aux
Data/Covariate_Data/Elevation_GRID/NA_Elevation/data/NA_Elevation/NA_Elevation.aux.xml
Data/Covariate_Data/Elevation_GRID/NA_Elevation/data/NA_Elevation/NA_Elevation.rrd
Data/Covariate_Data/Elevation_GRID/NA_Elevation/data/NA_Elevation/na_elevation/dblbnd.adf
Data/Covariate_Data/Elevation_GRID/NA_Elevation/data/NA_Elevation/na_elevation/hdr.adf
Data/Covariate_Data/Elevation_GRID/NA_Elevation/data/NA_Elevation/na_elevation/log
Data/Covariate_Data/Elevation_GRID/NA_Elevation/data/NA_Elevation/na_elevation/metadata.xml
Data/Covariate_Data/Elevation_GRID/NA_Elevation/data/NA_Elevation/na_elevation/prj.adf
Data/Covariate_Data/Elevation_GRID/NA_Elevation/data/NA_Elevation/na_elevation/sta.adf
Data/Covariate_Data/Elevation_GRID/NA_Elevation/data/NA_Elevation/na_elevation/vat.adf
Data/Covariate_Data/Elevation_GRID/NA_Elevation/data/NA_Elevation/na_elevation/w001001.adf
Data/Covariate_Data/Elevation_GRID/NA_Elevation/data/NA_Elevation/na_elevation/w001001x.adf
Data/Covariate_Data/Elevation_GRID/NA_Elevation/NA_Elevation.lyr
Data/Covariate_Data/Elevation_GRID/na_elevation01.asc
Data/Covariate_Data/Elevation_GRID/na_elevation01.prj
Data/Covariate_Data/Elevation_GRID/Terms of use.doc
Data/Covariate_Data/Formatted/All_data/0.5deg/Camp_out_0.5.asc
Data/Covariate_Data/Formatted/All_data/0.5deg/DEM_0.5.asc
Data/Covariate_Data/Formatted/All_data/0.5deg/LANDCVI_selected_0.5.asc
Data/Covariate_Data/Formatted/All_data/0.5deg/Maas_out_0.5.asc
Data/Covariate_Data/Formatted/All_data/0.5deg/MGVF_0.5.asc
Data/Covariate_Data/Formatted/All_data/0.5deg/SLOPE_0.5.asc
Data/Covariate_Data/Formatted/All_data/0.5deg/WC_Prec_0.5.asc
Data/Covariate_Data/Formatted/All_data/0.5deg/WC_Temp_0.5.asc
Data/Covariate_Data/Formatted/All_data/1deg/DEM_1.asc
Data/Covariate_Data/Formatted/All_data/1deg/LANDCVI_selected_1.asc
Data/Covariate_Data/Formatted/All_data/1deg/MGVF_1.asc
Data/Covariate_Data/Formatted/All_data/1deg/SLOPE_1.asc
Data/Covariate_Data/Formatted/All_data/1deg/WC_Prec_1.asc
Data/Covariate_Data/Formatted/Elevation_GRID/DEM_0.5.asc
Data/Covariate_Data/Formatted/Elevation_GRID/DEM_1.asc
Data/Covariate_Data/Formatted/Elevation_GRID/SLOPE_0.5.asc
Data/Covariate_Data/Formatted/Elevation_GRID/SLOPE_1.asc
Data/Covariate_Data/Formatted/landcvi0201/LANDCVI_selected_0.5.asc
Data/Covariate_Data/Formatted/landcvi0201/LANDCVI_selected_1.asc
Data/Covariate_Data/Formatted/MGVF/MGVF_0.5.asc
Data/Covariate_Data/Formatted/MGVF/MGVF_1.asc
Data/Covariate_Data/Formatted/Outcrop/Camp_out_0.5.asc
Data/Covariate_Data/Formatted/Outcrop/Maas_out_0.5.asc
Data/Covariate_Data/Formatted/PalaeoClimate/CampPrecip_0.5.asc
Data/Covariate_Data/Formatted/PalaeoClimate/CampTemp_0.5.asc
Data/Covariate_Data/Formatted/PalaeoClimate/MaasPrecip_0.5.asc
Data/Covariate_Data/Formatted/PalaeoClimate/MaasTemp_0.5.asc
Data/Covariate_Data/Formatted/Worldclim/WC_Prec_0.5.asc
Data/Covariate_Data/Formatted/Worldclim/WC_Prec_1.asc
Data/Covariate_Data/Formatted/Worldclim/WC_Temp_0.5.asc
Data/Covariate_Data/landcvi0201/landcvi0201.tif
Data/Covariate_Data/landcvi0201/landcvi020l.txt
Data/Covariate_Data/landcvi0201/landcvi020l_nt00016.tar.gz
Data/Covariate_Data/landcvi0201/LANDCVI_test0.5.asc
Data/Covariate_Data/landcvi0201/LANDCVI_test1.asc
Data/Covariate_Data/MGVF/Average MGVF.tif
Data/Covariate_Data/Outcrop/Campanian/Campanian.cpg
Data/Covariate_Data/Outcrop/Campanian/Campanian.dbf
Data/Covariate_Data/Outcrop/Campanian/Campanian.png
Data/Covariate_Data/Outcrop/Campanian/Campanian.prj
Data/Covariate_Data/Outcrop/Campanian/Campanian.sbn
Data/Covariate_Data/Outcrop/Campanian/Campanian.sbx
Data/Covariate_Data/Outcrop/Campanian/Campanian.shp
Data/Covariate_Data/Outcrop/Campanian/Campanian.shp.xml
Data/Covariate_Data/Outcrop/Campanian/Campanian.shx
Data/Covariate_Data/Outcrop/Complete.cpg
Data/Covariate_Data/Outcrop/Complete.dbf
Data/Covariate_Data/Outcrop/Complete.prj
Data/Covariate_Data/Outcrop/Complete.sbn
Data/Covariate_Data/Outcrop/Complete.sbx
Data/Covariate_Data/Outcrop/Complete.shp
Data/Covariate_Data/Outcrop/Complete.shp.xml
Data/Covariate_Data/Outcrop/Complete.shx
Data/Covariate_Data/Outcrop/Maastrichtian/Maastrichtian.cpg
Data/Covariate_Data/Outcrop/Maastrichtian/Maastrichtian.dbf
Data/Covariate_Data/Outcrop/Maastrichtian/Maastrichtian.png
Data/Covariate_Data/Outcrop/Maastrichtian/Maastrichtian.prj
Data/Covariate_Data/Outcrop/Maastrichtian/Maastrichtian.sbn
Data/Covariate_Data/Outcrop/Maastrichtian/Maastrichtian.sbx
Data/Covariate_Data/Outcrop/Maastrichtian/Maastrichtian.shp
Data/Covariate_Data/Outcrop/Maastrichtian/Maastrichtian.shp.xml
Data/Covariate_Data/Outcrop/Maastrichtian/Maastrichtian.shx
Data/Covariate_Data/READ ME.txt
Data/Covariate_Data/Worldclim/wc2.0_30s_prec/wc2.0_30s_prec_01.tif
Data/Covariate_Data/Worldclim/wc2.0_30s_prec/wc2.0_30s_prec_02.tif
Data/Covariate_Data/Worldclim/wc2.0_30s_prec/wc2.0_30s_prec_03.tif
Data/Covariate_Data/Worldclim/wc2.0_30s_prec/wc2.0_30s_prec_04.tif
Data/Covariate_Data/Worldclim/wc2.0_30s_prec/wc2.0_30s_prec_05.tif
Data/Covariate_Data/Worldclim/wc2.0_30s_prec/wc2.0_30s_prec_06.tif
Data/Covariate_Data/Worldclim/wc2.0_30s_prec/wc2.0_30s_prec_07.tif
Data/Covariate_Data/Worldclim/wc2.0_30s_prec/wc2.0_30s_prec_08.tif
Data/Covariate_Data/Worldclim/wc2.0_30s_prec/wc2.0_30s_prec_09.tif
Data/Covariate_Data/Worldclim/wc2.0_30s_prec/wc2.0_30s_prec_10.tif
Data/Covariate_Data/Worldclim/wc2.0_30s_prec/wc2.0_30s_prec_11.tif
Data/Covariate_Data/Worldclim/wc2.0_30s_prec/wc2.0_30s_prec_12.tif
Data/Covariate_Data/Worldclim/wc2.0_30s_tavg/wc2.0_30s_tavg_01.tif
Data/Covariate_Data/Worldclim/wc2.0_30s_tavg/wc2.0_30s_tavg_02.tif
Data/Covariate_Data/Worldclim/wc2.0_30s_tavg/wc2.0_30s_tavg_03.tif
Data/Covariate_Data/Worldclim/wc2.0_30s_tavg/wc2.0_30s_tavg_04.tif
Data/Covariate_Data/Worldclim/wc2.0_30s_tavg/wc2.0_30s_tavg_05.tif
Data/Covariate_Data/Worldclim/wc2.0_30s_tavg/wc2.0_30s_tavg_06.tif
Data/Covariate_Data/Worldclim/wc2.0_30s_tavg/wc2.0_30s_tavg_07.tif
Data/Covariate_Data/Worldclim/wc2.0_30s_tavg/wc2.0_30s_tavg_08.tif
Data/Covariate_Data/Worldclim/wc2.0_30s_tavg/wc2.0_30s_tavg_09.tif
Data/Covariate_Data/Worldclim/wc2.0_30s_tavg/wc2.0_30s_tavg_10.tif
Data/Covariate_Data/Worldclim/wc2.0_30s_tavg/wc2.0_30s_tavg_11.tif
Data/Covariate_Data/Worldclim/wc2.0_30s_tavg/wc2.0_30s_tavg_12.tif
